# H1  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:** 
* Python
* Java 
* C++
* R
* SQL

ordered list
1) Python
2) R language 
3) SQL

Some of the commonly used libraries used by Data Scientists include:

ordered list

1) NumPy
2) Pandas
3) Matplotlib

| Data Science Tools  |
|---------------------|
|------- GitHub------ |
|-- Jupyter Notebook- |
|---- Apache Spark--- |

### H3 Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2 Author
Pranay Nair